// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'component';

@import 'general';

body{
  position:relative;
  padding:0px;
  margin:0px;
  height: 100vh;
}

.bg-wel-ekthesis{
  background-image: url("/images/pragm.jpg");
  background-repeat:no-repeat;
  background-position: left center;
  background-size: cover;
  position: relative;
  opacity: 1;
  width: 100%;
  min-height: 95vh;
}

.bg-form-ekthesis{
  background-image: url("/images/pragm.jpg");
  background-repeat:no-repeat;
  background-position: left center;
  background-size: cover;
  position: relative;
  opacity: 0.5;
  width: 100%;
  min-height: 95vh;

}

.g-hide{
     display: none !important;
 }
.menu-text-size{
    font-size: 14px;
}
.ektheseis-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}
.ektheseis-subheader {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* fraction*/
}
.btn-for-dropdown{
    height:30px;
    width:30px;
    border-radius: 12px;
    font-size: 12px;
}

