// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import 'component';

@import 'general';

body{
  position:relative;
  padding:0px;
  margin:0px;
  height: 100vh;
}

main {
    padding-bottom: 31px;
}

.bg-wel-ekthesis{
  background-image: url("/images/pragm.jpg");
  background-repeat:no-repeat;
  background-position: left center;
  background-size: cover;
  position: relative;
  opacity: 1;
  width: 100%;
  min-height: 95vh;
}

.bg-form-ekthesis{
  background-image: url("/images/pragm.jpg");
  background-repeat:no-repeat;
  background-position: left center;
  background-size: cover;
  position: relative;
  opacity: 0.5;
  width: 100%;
  min-height: 95vh;

}

.g-hide{
     display: none !important;
 }
.menu-text-size{
    font-size: 14px;
}
.ektheseis-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}
.ektheseis-subheader {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* fraction*/
}
.btn-for-dropdown{
    height:30px;
    width:30px;
    border-radius: 12px;
    font-size: 12px;
}

@media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }
    .dropdown-menu .dropdown-menu{
        margin-left:0; margin-right: 0;
    }
    .dropdown-menu li{
        position: relative;
    }
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }
    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }

    #grid {
        column-width: 250px;
        column-gap: 8px;
    }

    #grid > div {
        break-inside: avoid-column; /* Prevent element from breaking */
        page-break-inside: avoid; /* Prevent element from breaking in Firefox */
        //width: 350px;
        //height: 350px;
        margin-bottom: 10px;
    }
    #grid_det {
        column-width: 250px;
        column-gap: 8px;
        overflow-y:scroll;
        height:500px;
        //overflow:-moz-scrollbars-vertical;
    }

    #grid_det > div {
        break-inside: avoid-column; /* Prevent element from breaking */
        page-break-inside: avoid; /* Prevent element from breaking in Firefox */
        //width: 350px;
        //height: 350px;
        margin-bottom: 10px;
    }
}
