hr{
/*    border: 2px solid red;
    border-radius: 5px;*/
    padding: 2px;
}
.form-input  {
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    font-size:12px;
}
.form-select{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
    font-size:12px;
}
.form-group {
  position: relative;
  padding: 0px 10px;

    input {
      font-size:12px;
      border:none;
      margin:20px 0 10px;
      outline: 0 !important;
    }
    select {
        font-size:12px;
        border:none;
        margin:20px 0 10px;
        outline: 0 !important;
    }
    label {
      font-size: 12px;
      color: #6e6b6b;
      position: absolute;
      top:50%;
      transform-origin: top left;
      transform: translate(5%, -50%) scale(1);
      transition: all .1s ease-in-out;
    }
    &.active  label {
      transform: translate(5%, -90%) scale(.75);
    }
}
.form-label{
    font-size: 12px;
    color: #6e6b6b;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=date] {
  -moz-appearance: textfield;
}
.card-header-cust {
    padding: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #12128d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    .text-muted {
        color: #f5f8ff !important;
    }
.modal-header{
    h4{
        align-content: center;
    }
}
}
.newdroprec{
    background-image:url('/images/add_xs.png');
    padding: 14px;
    background-repeat: no-repeat;
    size: 10px;
}
.card-header-cust-rmenu {
    padding: 0.3rem;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #12128d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    .text-muted {
        color: #f5f8ff !important;

    }
.input-ait-dik{
/*        -webkit-box-shadow: none;
        ////border-color: Transparent;
        //overflow: auto;
        outline:none;*/
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    }
 .no-outline:focus {
        outline: none;
    }
}
.flex-container {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}
.flex-item-grow1{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
}
.flex-item-grow2{
    flex-grow: 2;
    flex-shrink: 2;
    padding: 0;
}
